[submodule "maatool-deploy"]
	path = maatool-deploy
	url = https://github.com/alejomaf/maatool-deploy.git
	branch = main
[submodule "maatool-api"]
	path = maatool-api
	url = https://github.com/alejomaf/maatool-api.git
	branch = main
[submodule "maatool-app"]
	path = maatool-app
	url = https://github.com/alejomaf/maatool-app.git
	branch = main
[submodule "maatool-development"]
	path = maatool-development
	url = https://github.com/alejomaf/maatool-development.git
	branch = main
[submodule "maatool-launchpage"]
	path = maatool-launchpage
	url = https://github.com/alejomaf/maatool-launchpage.git
	branch = main
